// footer start
.footer-content {
  padding: 50px 0;
  @extend %flex;
  @include justify-content(space-between);
  gap: 90px;
}

footer {
  .logo {
    width: 100%;
    margin: 5px 0 20px;
    a {
      @include color(black-color);
    }
  }
}

.footer-items {
  @extend %flex;
  @include justify-content(flex-end);
  gap: 90px;

  li {
    h6 {
      padding-bottom: 20px;
      @include font($size: 18px, $weight: bold, $text:capitalize);
    }

    &:last-child {
      @include flex-basis(43%);
    }
  }
}

.address-items {
  padding: 30px 0;
  @extend %flex-column;
  
  li {
    @include font($size: 13px, $weight: bold);
    line-height: 1.6;
  }

  a{
    @extend .grey-text;
  }
  
  p {
    @extend .grey-text;
  }
}

.services-items {
  padding: 15px 0;
  @extend %flex-column;

  a {
    padding: 11px 0;
    @include color(grey-text);
    @include font($size: 12px, $weight: bold);
    @extend %transition;
  }
}

.useful-items {
  @extend .services-items;

  a {
    padding: 11px 0;
    @include color(grey-text);
    @include font($size: 12px, $weight: bold);
    @extend %transition;
  }
}

.subscribe-items {
  @extend .services-items;
}
// footer end