/* question section start */ 
.question {
  .wrapper {
    width: 100%;
  }

  @at-root {
    .question-content {
      @extend %flex;
      gap: 77px;

      @include maxResponsive(desktop) { gap: 40px; }
    }
    .question-image {
      @include flex-basis(45%);
    }
    
    .accordion-part {
      padding-top: 34px;
      margin-top: 44px;
      @include flex-basis(34%);

      @include maxResponsive(desktop) {
        padding-top: 20px;
        margin-top: 0;
        @include flex-basis(40%);
      }
      
      h4 {
        padding: 38px 0;
        @include font($size: 42px);

        &::first-letter {
          @include font($text:uppercase);
        }

        @include maxResponsive(desktop) {
          padding: 38px 0 20px;
          @include font($size: 34px);
        }
      }
    }

    .accordion-items {
      @extend %flex-column;

      li  {
        padding: 20px 0 10px  ;
        border-bottom: 1px solid rgb(142, 142, 148, 0.2);
        cursor: pointer;

        h5 {
          @include font($weight: bold);
          &::first-letter {
            @include font($text: uppercase);
          }
          @include maxResponsive(desktop) { @include font($size: 13px); }
        }

        &:first-child a::before {
          @include transform(rotate(180deg));
        }

        p {
          padding: 25px 25px 19px 37px;
          @include font($size: 13px);
          line-height: 1.8;
        }
      }
    }

    .accordian-heading {
      @extend %flex;
      gap: 19px;
    }

    .accordion-btn {
      a {
        @include color(grey-text);
        text-indent: -9999px;

        &::before {
          @include icon("\f107", $margin: 0 0 0 2%, $float: left, $textIndent: true);
          @extend %transition;
        }
        @include maxResponsive(desktop) { @include font($size: 13px); }
      }
    }
  }
}
/* question section end */ 