$colors : ("white":#fff, "black":#000, "light-black":#1C1C1C,"light-grey":#B5C5CB,"light-pink":#F58181,"light-blue":#6799B8,"icon-color":#B4C3CA,"shadow":#A3B1B7);

$devices:("large-desktop":"1280px", "desktop":"1024px", "tablet":"995px", "ipad":"768px", "largePhone":"640px", "mediumPhone":"480px", "smallPhone":"320px");

$headerIcon:("shop":"\f290","search":"\f002");

$fontAwesome : ("facebook":"\f39e","twitter":"\f099", "vimeo":"\f40a",  "instagram":"\e055");

$testimonialIcon: ("prev":"\f100","next":"\f101");

$autoMargin : 0 auto;