$colors : (white-color:#fff, black-color:#000, btn-color: #33d4d6, grey-text: #8e8e94 ,blue-color: #0a8cff);

$devices:(large-desktop:"1280px", desktop:"1024px", tablet:"995px", ipad:"768px", largePhone:"640px", mediumPhone:"480px", smallPhone:"320px");

$headerIcon:("shop":"\f290","search":"\f002");

$fontAwesome : ("facebook":"\f39e","twitter":"\f099", "vimeo":"\f40a", "instagram":"\e055");

$testimonialIcon: ("prev":"\f100","next":"\f101");

$autoMargin : 0 auto;