/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%;
  margin: 0 auto;
}

.banner-content, header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .wrapper, .accordian-heading, .question-content, .work-items, .about-content, .offer-cards, .header-contact, .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-items, .about-items, .loan-items, .loan-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion-btn a::before, .header-btn, .nav-items a, .bar::before,
.bar::after, .bar, .blue-btn {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-heading h3::before, .bar {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blue-btn {
  padding: 14px 26px;
  border-radius: 4px;
  background: #33d4d6;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .blue-btn:hover {
    background: #fff;
    color: #33d4d6;
    -webkit-box-shadow: 1px 2px 8px rgba(192, 192, 196, 0.6);
    box-shadow: 1px 2px 8px rgba(192, 192, 196, 0.6);
  }
}

.grey-text {
  color: #8e8e94;
}

/* header start */
header {
  width: 100%;
  position: absolute;
  top: 0;
}
header .wrapper {
  width: 94%;
  padding: 21px 0;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.logo a {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.logo a::before {
  content: "\e3af";
  padding: 10px;
  border-radius: 50%;
  font-family: "FontAwesome";
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#33d4d6), to(#076cc4));
  background: -o-linear-gradient(top, #33d4d6, #076cc4);
  background: linear-gradient(180deg, #33d4d6, #076cc4);
  color: #fff;
}

/* hamburger start */
.hamburger {
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: relative;
  display: none;
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  background: #fff;
  text-indent: -99999px;
}

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  border-radius: absolute;
  left: 0;
  background-color: inherit;
}

.bar::before {
  top: -6px;
}

.bar::after {
  top: 6px;
}

.active-hamburger .bar {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.active-hamburger .bar::before {
  -webkit-transform: translateY(6px) rotate(0);
  -ms-transform: translateY(6px) rotate(0);
  transform: translateY(6px) rotate(0);
}

.active-hamburger .bar::after {
  -webkit-transform: translateY(-6px) rotate(-90deg);
  -ms-transform: translateY(-6px) rotate(-90deg);
  transform: translateY(-6px) rotate(-90deg);
}

/* hamburger end */
.nav-items {
  gap: 40px;
}
.nav-items li {
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
}
.nav-items span {
  text-transform: uppercase;
}
.nav-items a {
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .nav-items a:hover {
    color: #33d4d6;
  }
}

.header-contact {
  font-size: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.call-icon {
  position: relative;
  color: #fff;
}
.call-icon::before {
  content: "\f095";
  margin: 0 5px 0 0;
  position: absolute;
  top: 0;
  left: -19px;
  font-family: "FontAwesome";
  color: #33d4d6;
}

.header-btn {
  padding: 14px 9px;
  border: 1px solid rgb(51, 212, 214);
  border-radius: 3px;
  color: #33d4d6;
  font-weight: bold;
  text-transform: capitalize;
}
@media only screen and (min-width: 1024px) {
  .header-btn:hover {
    border-color: rgb(255, 255, 255);
    background: #fff;
    color: #33d4d6;
  }
}

/* header end */
/* banner section start */
.banner {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 30, 78, 0.6)), to(rgba(9, 30, 78, 0.6))), url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80") no-repeat center;
  background: -o-linear-gradient(rgba(9, 30, 78, 0.6), rgba(9, 30, 78, 0.6)), url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80") no-repeat center;
  background: linear-gradient(rgba(9, 30, 78, 0.6), rgba(9, 30, 78, 0.6)), url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80") no-repeat center;
  background-size: cover;
}
.banner-content {
  margin: 85px 0;
}

.banner-description {
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}
.banner-description p {
  margin-bottom: 35px;
  font-size: 58px;
  font-weight: 500;
  color: #fff;
}

.banner-form {
  padding: 44px;
  border-radius: 4px;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  background: #fff;
}
.banner-form h2 {
  font-size: 26px;
  font-weight: 600;
}
.banner-form h2::first-letter {
  text-transform: uppercase;
}
.banner-form p {
  margin: 23px 0 37px;
}
.banner-form p.price-para {
  margin: 26px 0 37px;
}
.input-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e5;
  border-radius: 4px;
  outline: none;
  background: #fff;
  color: #8e8e94;
  text-transform: capitalize;
}

.input-control a {
  width: 100%;
  margin-bottom: 9px;
  text-align: center;
}

/* banner section end */
.section-heading {
  text-align: center;
}
.section-heading h3 {
  padding: 18px 0;
  position: relative;
  font-size: 40px;
}
.section-heading h3::before {
  content: "";
  width: 55px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: 50%;
  background: #33d4d6;
}
.section-heading p {
  font-size: 15px;
}

/* offers section start */
.offers {
  padding: 150px 0 130px;
}
.offer-cards {
  padding: 90px 0 20px;
  gap: 29px;
}
.offer-cards > li {
  border-radius: 3px;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0989f9), to(#054782));
  background: -o-linear-gradient(top, #0989f9, #054782);
  background: linear-gradient(180deg, #0989f9, #054782);
  color: #fff;
}

.loan-price {
  border-bottom: 1px solid rgba(51, 212, 214, 0.3019607843);
  text-align: center;
  line-height: 2;
}
.loan-price img {
  width: auto;
  margin: 43px 0;
}
.loan-price h4 {
  font-size: 14px;
  text-transform: capitalize;
}
.loan-price p {
  margin-bottom: 16px;
  color: #33d4d6;
  font-size: 27px;
}

.loan-details {
  padding: 48px;
}

.loan-items {
  gap: 12px;
}
.loan-items li {
  font-size: 16px;
}
.loan-items li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  background: #33d4d6;
}

.loan-btn {
  padding-top: 40px;
}
.loan-btn a {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

/* offers section end */
/* about section start */
.about {
  padding-bottom: 40px;
}
.about .wrapper {
  margin-bottom: 59px;
}
.about-content {
  padding-bottom: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 89px;
}

.about-image {
  -ms-flex-preferred-size: 48.4%;
  flex-basis: 48.4%;
}

.about-details {
  margin-bottom: 61px;
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
}
.about-details h4 {
  padding: 38px 0;
  font-size: 42px;
  text-transform: capitalize;
}
.about-details p {
  font-size: 15px;
  line-height: 1.6;
}

.about-items {
  padding: 14px 20px;
  line-height: 1.8;
}
.about-items li {
  position: relative;
}
.about-items li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  left: -20px;
  background: #0a8cff;
}

.about-btn {
  padding-top: 33px;
}

/* about section end */
/* work section start */
.work {
  padding: 150px 0 130px;
  background: #F6FBFF;
}
.work-items {
  padding-top: 90px;
  gap: 65px;
}
.work-items li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}
.work-items span {
  padding: 24px;
  border-radius: 50%;
  display: inline-block;
  background: #DDF0FF;
  color: #0a8cff;
  font-weight: bold;
}
.work-items h4 {
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
}
.work-items h4::first-letter {
  text-transform: uppercase;
}
.work-items p {
  line-height: 1.6;
}
.work-items p::first-letter {
  text-transform: uppercase;
}

/* work section end */
/* question section start */
.question .wrapper {
  width: 100%;
}
.question-content {
  gap: 77px;
}

.question-image {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.accordion-part {
  padding-top: 34px;
  margin-top: 44px;
  -ms-flex-preferred-size: 34%;
  flex-basis: 34%;
}
.accordion-part h4 {
  padding: 38px 0;
  font-size: 42px;
}
.accordion-part h4::first-letter {
  text-transform: uppercase;
}

.accordion-items li {
  padding: 20px 0 10px;
  border-bottom: 1px solid rgba(142, 142, 148, 0.2);
  cursor: pointer;
}
.accordion-items li h5 {
  font-weight: bold;
}
.accordion-items li h5::first-letter {
  text-transform: uppercase;
}
.accordion-items li:first-child a::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-items li p {
  padding: 25px 25px 19px 37px;
  font-size: 13px;
  line-height: 1.8;
}

.accordian-heading {
  gap: 19px;
}

.accordion-btn a {
  color: #8e8e94;
  text-indent: -9999px;
}
.accordion-btn a::before {
  content: "\f107";
  margin: 0 0 0 2%;
  font-family: "FontAwesome";
  float: left;
  float: left;
  text-indent: 0;
}

/* question section end */
/* slider section start */
.slider {
  padding: 47px 0;
}
.slider .wrapper {
  padding: 35px 0;
  gap: 30px;
}
.slider-image {
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
  position: relative;
}
.slider-image img {
  border-radius: 50%;
}
.slider-image::before {
  content: "\f10d";
  padding: 18px 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: "FontAwesome";
  font-size: 20px;
  background: #33d4d6;
  color: #fff;
}

.slider-description {
  padding: 0 2%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.slider-description p {
  width: 85%;
  padding-top: 40px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.8;
}
.slider-description span {
  padding: 17px 0;
  display: block;
  color: #8e8e94;
  text-transform: capitalize;
}

/* slider section end */

/*# sourceMappingURL=style.css.map */
